*{
    box-sizing: border-box;
}
:root{
    --primary-color:#ffb900;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
/* common  */
.main-content{
    width: 1170px;
    min-width: calc(100% - 180px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.heading{
    color: #171100;
    font-family: Sen;
    font-weight: 700;
    letter-spacing: -1.16px;
}
.lv1{
    font-size: 58px;
    line-height: 68px;
}
.lv2{
    font-size: 38px;
    line-height: 48px;
}
.desc{
    color: #5F5B53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    display: inline-block;
    min-width: 118px;
    background: #171100;
    color: #FFF;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 16px;
    text-align: center;
    line-height: 50px;
}
.btn:hover{
    background: #171100;
    opacity: 0.9;
}
/* =============Header============ */
.header{
    background:#FFFCF4;
}
.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav{
    margin-left: auto;
}
.nav ul{
    display: flex;
}
.nav li a{
    position: relative;
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
}
.nav a:hover,
.nav li.active a{
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.nav li.active a::after{
    content: "";
    width: 15px;
    height: 2px;
    background: #171100;
    display: block;
    position: absolute;
    bottom: 5px;
    left: 20px;
    border-radius: 99px;
}

.header .action{
    margin-left: 49px;
}
.header .btn-sign-up{
    min-width: 144px;
}

/* =========== HERO =========== */
.hero{
    background:#FFFCF4;
    padding:58px;
}
.hero .body{
    display: flex;
}
/* hero left */
.hero .media-block{
    position: relative;
    width: 48%;
}
.hero .image{
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    background: url(/assets/img/hero-img.svg), lightgray -448.75px 0px / 218.672% 100% no-repeat;
}
.hero .course-block{
    position: absolute;
    display: block;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    height: 244px;
    right: 0;
    bottom: 48px;
}

.hero .items{
    display: flex;
    margin: 28px 24px;
}
.course-block .info{
    padding: 0 16px;
}
.course-block .icon{
    width: 48px;
    height: 48px;
    border-radius: 48px;
    background: #FFF9E8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.course-block .items:nth-child(2) .icon{
    background: #FCEFFF;
}
.course-block .items:nth-child(3) .icon{
    background: #EBEAFF;
}
.course-block .label{
    color: #5F5B53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}
.course-block .course-block-name{
    padding-top: 16px;
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
/* hero-right */
.hero-info{
    width: 52%;
    padding: 71px 0 0 130px;
}
.hero-info .desc{
    margin-top: 22px;
}

.cta-group{
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero-info .hero-cta{
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
    font-size: 1.8rem;
}
.watch-video{
    display: flex;
    align-items: center;
    border:none;
    background: transparent;
    cursor: pointer;
    margin-left: 28px;
}
.hero-info .watch-video .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#FFFCF4;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero-info .cta-group span{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    margin-left: 15px;
}

.hero-info .desc:nth-child(2) p{
    margin-top: 48px;
}
.hero-info .desc strong{
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px;
    margin-right: 15px;
}
.hero-info .stats {
    margin-top: 8px;
}
.hero-info .stats strong+strong{
    margin-left: 28px;
}
/* <!--  =============COURSES==============--> */
.courses{
    padding: 65px 0;
    margin-top: 135px;
}
.courses-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.courses-top .desc{
    margin-top: 16px;
    width: 458px;
}
.courses .control {
    display: flex;
    gap:18px;
} 
.courses .control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border: 1px solid #ffb900;
    border-radius: 50%;
}
.courses .control-btn:hover{
    background: var(--primary-color);
    color:#fff;
    cursor: pointer;
}

.courses-info{
    display: flex;
    margin-top: 55px;
    gap:30px;
}
.courses-info .card{
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}
.courses-info .card:hover{
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-color:transparent;
}
.courses-info .image{
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.card-body{
    padding: 16px 22px 22px;
}
.card-body .rating,
.card-body .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-body .head{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}
.card-body .vote{
    color: #FEA31B;
    margin-left: 6px;
}
.card-body .desc{
    margin-top: 6px;
    color: #5F5B53;
    width: 326px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}
.card-body .row-down{
    justify-content: space-between;
    margin-top: 12px;
}
.card-body .row-down span{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}
.card-body .row-down .btn-buy:hover{
    color:#FFF;
    background-color:var(--primary-color);
}

.testimonial{
    background: #2E2100;
    margin-top: 135px;
    padding: 96px 0;
}

.testimonial .feedback-items{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.feedback-list{
    display: flex;
    overflow:hidden;
}
.feedback-items .avatar{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.feedback-items .name{
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
    margin-top: 18px;
}
.feedback-items .desc{
    color: #BFBCB2;
    font-size: 1.4rem;
    margin-top: 4px;
}
.feedback-items .dots{
    margin-top: 28px;
}
.feedback-items .dot{
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}
.feedback-items .dot.active{
    background: var(--primary-color);
}
.feedback-items .speech{
    width: 66%;
    margin-left: auto;
}
.feedback-items blockquote{
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
    padding-left: 30px;
}
.feature,
.feature-2{
    margin-top: 200px;
}
/* Feature-1 */
.feature-2,
.feature-1,
.feature-image{
    display: flex;
}
.feature-1 .feature-image{
    width: 50%;
    height: 473px;
}
.feature-1 .feature-image img:first-child{
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
    margin-top: auto;
}
.feature-1 .feature-image img:last-child{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
    margin-left:30px;
}
.feature-1 .feature-info{
    width: 40%;
    margin-left: auto;
    margin-top: 58px;
}
.feature-1 .feature-info .desc{
    color: #5F5B53;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 28px;
    margin-top: 16px;
    width: 458px;
}
.feature-info .btn-cta{
    min-width: 137px;
    margin-top: 32px;
    background: var(--primary-color);
}

/* Feature-2 */
.feature-2 .feature-image img{
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
.feature-2 .heading{
    padding-top: 71px;
    width: 570px;
}
.feature-2 .desc{
    width: 570px;
    margin-top: 16px;
    font-size: 1.6rem;
}
.feature-2 .feature-image{
    margin-left: 130px;
}
/* BLOG */
.blog{
    margin-top: 200px;
    padding: 96px 0;
    background: #FFFCF4;
}
.blog-top{
    text-align: center;
}
.blog-top .desc{
    font-size: 1.6rem;
    width: 448px;
    display: inline-block;
    margin-top: 16px;
}
.blog-list{
    display: flex;
    gap: 30px;
    margin-top: 55px;
    overflow: hidden;
}
.blog-items{
    width: calc(33.3% - 20px);
    background: #FFF;
    border-radius: 16px;
    flex-shrink: 0;
}
.blog-items:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog-items .thumb{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog-items .body{
    padding: 20px 20px 28px;
}
.blog-items .date{
    color: #5F5B53;
    font-size: 1.4rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    line-height: 1.86;
    padding-bottom: 12px;
}
.blog-items .date::before{
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    background: var(--primary-color);
    border-radius: 50%;
    margin-right: 4px;
}
.blog-items .date::after{
    position: absolute;
    content:"";
    height: 1px;
    display: inline-block;
    border-radius: 0.5px;
    background: #E2DFDA;
    left: 0;
    bottom: 0;
    right: -27px;
}
.blog-items .title{
    color: #171100;
    font-weight: 600;
    line-height: 28px;
    margin: 12px 0;
}
.blog-items .btn-cta{
    font-size: 1.4rem;
}
.blog-items .btn-cta:hover{
    background: var(--primary-color);
}
.blog .dots{
        display: flex;
        gap: 6px;
        justify-content: center;
        margin-top: 38px;
}
.blog .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.blog .dot.active{
    background: var(--primary-color);
    cursor: default;
}
.footer{
    padding: 96px 135px 0 ;
    background: #2E2100;
}
.footer-list{
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
    ;
}
.footer-item{
    width: 21,6%;
}
.footer-item:first-child{
    width: 35%;
}
.footer-item+.footer-item{
    margin-left: 130px;
}
.footer .desc{
    margin-top: 18px;
    max-width: 267px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}
.footer .social{
    display: flex;
    gap: 18px;
    margin-top: 18px;
}
.footer .title{
    display: inline-block;
    padding: 0 48px 14px 0;
    border-bottom: 1px solid #59554b;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}
.footer .list {
    margin-top: 28px;
}
.footer .list a{
    text-decoration: none;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}
.footer .list a:last-child{
    margin-bottom: 0;
}
.footer .list strong{
    font-weight: 600;
    color: #ffffff;
}
.footer .copy-right{
    padding: 28px 0;
}
.footer .copy-right p{
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}